/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Add a background color to the whole page */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
  }
  
  /* Header styles */
  header {
    background: #50b3a2;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
  
  header img#avatar {
    width: 100px;
    height: 85px;
    border-radius: 100%;
  }
  
  /* Navigation styles */
  nav ul {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  /* Main content */
  section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 8px;
  }
  
  /* Work samples */
  .sample {
    margin: 20px 0;
  }
  
  .sample-image {
    width: 40%;
    height: 50;
    border-radius: 8px;
  }
  
  .first {
    transform: scale(1.1);
  }
  
  /* Contact section */
  #contact a {
    color: #333;
  }
  
  /* Footer */
  footer {
    text-align: center;
    padding: 1em 0;
    background: #333;
    color: white;
  }
  
  